<div class="nav-items">
    <div class="nav-item">
        <span routerLink="/accueil" style="position: relative; left: -3px;">Accueil</span>
    </div>
    <div class="nav-item" style="position: relative; left: -3px;">
        <span routerLink="/liste-proprietaire" >Propriétaires</span>
    </div>
    <div class="nav-item">
        <span>Contrats</span>
    </div>
    <div class="nav-item">
        <span>Biens</span>
    </div>
    <div class="nav-item">
        <span>Dépenses</span>
    </div>
    <div class="nav-item" style="position: relative; left: -5px;">
        <span routerLink="/listeLocataire" style="position: relative; left: -2px;">Locataires</span>    
    </div>
    <div class="nav-item" style="position: relative; left: -5px;">
        <span style="position: relative; left: -3px;">Paiements</span>
    </div>
   
    
</div>