<app-dashboard></app-dashboard>
<div class="container">
    <form>
      <div class="row">
        <h4 id="titre">GESTION DES PARRAINAGES</h4>
        </div>
      <div class="row">
        <div class="col-half">
          <h4>Date de debut</h4>
          <div class="input-group">
            <div class="col-third">
              <input type="date" placeholder="">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-half">
          <h4>Date de fin</h4>
          <div class="input-group">
            <div class="col-third">
              <input type="date" placeholder="">
            </div>
          </div>
        </div>
      </div>
    </form>
    <button style="width: 100px; padding: 5px; margin-left: 400px;"><span>Valider</span><i></i></button>
  </div>