<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<!-- partial:index.partial.html -->
<div class="header">  
  <div class="header__logo">
    <strong>LOGO</strong>
  </div>
  <nav class="navbar">
    <ul class="navbar__menu">
      <li class="navbar__item">
        <a routerLink="" class="navbar__link"><i data-feather="home"></i><span>Accueil</span> </a>
      </li>
      <li class="navbar__item">
        <a routerLink="/searchCandidat" class="navbar__link"><i data-feather="home"></i><span>Ajout candidat</span> </a>
      </li>
      <li class="navbar__item">
        <a routerLink="/listeCandidat" class="navbar__link"><i data-feather="home"></i><span>Liste candidat</span> </a>
      </li>
      <li class="navbar__item">
        <a routerLink="/gestionParrainage" class="navbar__link"><i data-feather="users"></i><span>Date</span></a>        
      </li>
      <li class="navbar__item">
        <a routerLink="/evolutionParrainage" class="navbar__link"><i data-feather="folder"></i><span>Envolution</span></a>        
      </li>
      <li class="navbar__item">
        <a routerLink="/fichierElectoral" class="navbar__link"><i data-feather="archive"></i><span>Fichier electoral</span></a>        
      </li>
      <li class="navbar__item">
        <a routerLink="/connexion" class="navbar__link"><i data-feather="settings"></i><span>Deconnexion</span></a>        
      </li>
    </ul>
  </nav>
</div>
<!-- partial -->
  <script src='https://unpkg.com/feather-icons'></script><script  src="./script.js"></script>

</body>
</html>
